---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"

const blogPosts = await getCollection("blog");
---

<Layout>
	<main>
		{
			blogPosts.map(post => (
				<a href={"/blog/" + post.id}>
					{post.data.title}
				</a>
			))
		}
	</main>
</Layout>
