---
export const title = "An eventful day, huh";
export const date = new Date("2025-12-03");
export const excerpt = "So, daily posts lasted only 2 days";
---

<div class="post-body">
	<p>
		I've got one, two hours to write this so let's get it done quick. Unfortunately, I did not manage to make a post yesterday, so that's my streak broken.
	</p>
	<p>
		Today is truly sad day, for e-bikes have been banned on the main road. E-bikes have been my mode of transport going to and from school, so this is honestly a massive pain. I get why they banned them and I can just commute instead (only a couple minutes away), but its faster and cheaper to e-bike.
	</p>
	<p>
		At school, we had a mass held. During it, I messed up big time by laughing a little too loud, which drew the ire of one of our teachers. We (one of my friends got caught too, lol) got scolded quite harshly, but as it was just our first offense, we got off scot-free. Not ideal, though, so let's try not do that again.
	</p>
	<p>
		After the mass, we had a English Month event that I paid next to no attention to. Some of the performances were kinda neat, but I only really remember the first few ones as I completely lost focus on the event. I spent an hour taking a nap, making up for lost sleep, then a couple of other classmates and I escaped to our classrooms to eat lunch and finish schoolwork.
	</p>
	<p>
		This was not the correct course of action, it seems, as by the time we returned to the event, it had pretty much ended. For us, who skipped the event, we were made to pick up litter throughout the court area. Though, if I'm being honest, cleaning was kinda chill since it only took a minute.
	</p>
	<p>
		Afterwards, we had one <span>class<small>oh yeah we're in school</small></span> on Work Immersion. We had a memorization-focused quiz for which I (and most of us) had not reviewed on, so I'd say 10/15 is pretty good. Stings to get upped by my friends, though. That aside, we decided to go out to a local Jollibee, which my friend, Radhni, has been suggesting for ages.
	</p>
	
	<div class="image-set">
		<img
		src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779054/enriques_dfbhxi.webp"
		alt="Me and Enrique"
		width={300}
		/>
		<img
		src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779043/e_and_r_pdegie.webp"
		alt="Enrique and Radhni"
		width={300}
		/>
		<img
		src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779051/rad_toys_ixujqy.webp"
		alt="Radhni looking at kid's toys"
		width={300}
		/>
	</div>

	<ul>
		<li>Face reveal?!?!?!?! on this blog?!?!?!</li>
		<li>I forgot to take a pic including our other friend, Marcus. Oops.</li>
	</ul>
	<p>
		For our orders, I got a medium fries, E and M got burgers, and R got chicken and rice. Honestly, the price between fries and chicken was pretty close, so the latter was probably better. I didn't want to go for a full meal before dinner, though, so I went with what I did.
	</p>

	<div class="image-set">
		<img
			src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779044/my_order_askjik.webp"
			alt="My order of fries"
			width={200}
		/>
		<img
			src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779063/our_order_ipuskx.webp"
			alt="Our order, all together"
			width={300}
		/>
	</div>

	<p>
		We went straight home after eating, and as I had no e-bike, I decided to just walk back home instead of hailing a tricycle. Not too far a walk, but sure takes a fat minute.
	</p>

	<p>
		Now, for my required catposting, I present to you a surprise entry: Bonnie!
	</p>

	<div class="collage">
		<img
			src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779056/bonnie_look_dysmty.webp"
			alt="Bonnie looking at me coldly :<"
			width={300}
		/>
		<img
			src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779095/bonnie_back_i0cygw.webp"
			alt="Bonnie's back"
			width={300}
		/>
		<img
			src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779067/bonnie_lick_1_mb8ce4.webp"
			alt="Bonnie licking herself"
			width={300}
		/>
		<img
			src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779058/bonnie_lick_2_zz7gsu.webp"
			alt="Bonnie licking herself, sequel"
			width={300}
		/>
	</div>

	<p>
		She's pretty cute, but she's way more apprehensive of me, so it's especially nice when she chills out enough to let me pet her <i>(look at her silly goofy licks)</i>.
	</p>
	<p>
		Finally, a slide from my YouTube music 2025 recap. Kinda silly and cringe, but I'm always kinda proud to have nonsense stats for Ado's music year after year (are they even accurate lol). According to the slide, I have listened to her for a cumulative time of 12859 minutes, or 214 hours, or about 9 days (feels short, need to pump those numbers up).
	</p>

	<div class="image-set">
		<img
		src="https://res.cloudinary.com/da0vu2cqm/image/upload/v1764779047/adomination_rip1yh.webp"
		alt="Absolute Adomination"
		width={350}
		/>
	</div>
</div>

<style>
	p > span {
		position: relative;
		> small {
			position: absolute;
			width: max-content;
			bottom: 80%;
			left: 50%;
			translate: -50% 0;
			font-size: .5rem;
		}
	}
	
	.collage {
		height: 34rem;
		>img {
			&:nth-of-type(1) { translate: -43% -49%; rotate: -21deg; }
			&:nth-of-type(2) { translate: -46% 48%; rotate: 11deg; }
			&:nth-of-type(3) { translate: 41% 46%; rotate: -9deg; }
			&:nth-of-type(4) { translate: 51% -47%; rotate: 18deg; }
		}
	}
</style>