.post-body {
	* {
		color: var(--black);
	}

	img {
		margin: 1rem;
	}

	figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		img {
			margin-bottom: 0;
		}

		figcaption {
			font-style: italic;
		}
	}
	
	.image-set {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.collage {
		display: grid;
		grid-template-areas: "a";
		justify-items: center;
		align-items: center;

		> * {
			grid-area: a;
		}
	}

	.side-by-side {
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		figure, img {
			margin: 0;
		}
	}
}

@media screen and (max-width: 470px) {
.post-body {
	img {
		max-width: 100%;
		width: auto;
		height: auto;
	}

	.side-by-side {
		flex-direction: column;
		
		figure, img {
			margin-bottom: 1rem;
		}
	}

	.collage {
		display: flex;
		flex-direction: column;
		height: auto !important;
		padding: 2rem 0;

		img {
			position: initial;
			translate: 0 !important;
		}
	}
}	
}