.post-body {
	* {
		color: var(--black);
	}

	img {
		margin: 1rem;
	}

	figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		img {
			margin-bottom: 0;
		}

		figcaption {
			font-style: italic;
		}
	}
	
	.image-set {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.collage {
		display: grid;
		grid-template-areas: "a";
		justify-content: center;
		align-items: center;

		> img {
			grid-area: a;
		}
	}

	.side-by-side {
		display: flex;
		justify-content: space-between;
	}
}