---
interface Props {
	title?: string;
}

const { title: pageTitle } = Astro.props;
const SiteName = "Clikuki's Blog";
const title = pageTitle ? `${SiteName} | ${pageTitle}` : SiteName;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="shortcut icon" href="/blog/favicon.ico" type="image/x-icon">
		<link rel="preload" href="/blog/fonts/open-sans-v44-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/blog/fonts/open-sans-v44-latin-700.woff2" as="font" type="font/woff2" crossorigin>
	</head>
	<body>
		<header>
			<h1><a href="/blog">Clikuki's Blog</a></h1>
			<p><i>Assorted collection of nonsense</i></p>
		</header>
		<main>
			<div>
				<slot />
			</div>
		</main>
	</body>
</html>

<style>
	/* open-sans-regular - latin */
	@font-face {
		font-display: swap;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		src: url('/blog/fonts/open-sans-v44-latin-regular.woff2') format('woff2');
	}

	/* open-sans-700 - latin */
	@font-face {
		font-display: swap;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		src: url('/blog/fonts/open-sans-v44-latin-700.woff2') format('woff2');
	}
	
	:root {
		--white: #F3E9DC;
		--darker: #C75D2C;
		--dark: #D96F32;
		--light: #F8B259;

		--gray: #777;
		--black: #222;

		scrollbar-color: var(--darker) var(--light);
		scrollbar-width: thin;
  	scroll-behavior: smooth;
		overflow-x: hidden;
	}

	body {
		font-family: "Open Sans", Arial, sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
		font-variation-settings: "wdth" 100;

		margin: 0;
		background-color: var(--white);
	}
	
	header {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;

		font-family: monospace;
		
		padding: 1rem;
		background-color: #d96f32;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f8b259' fill-opacity='0.31'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		color: white;
		box-shadow:
			inset 0 0 1rem var(--darker),
			0 0 2rem var(--darker);
		animation: scrollBG 4000ms linear infinite;

		h1 {
			grid-column: 2;
			margin: 0;
			font-size: 3rem;

			a {
				color: inherit;
			}
		}

		p {
			grid-column: 2;
			margin: .3rem 0 1rem 1rem;
		}
	}

	@keyframes scrollBG {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 40px -40px;
		}
	}

	
	main {
		display: flex;
		justify-content: center;
		padding: 2rem 3rem 0 3rem;

		/* Wrapper for centering majig */
		> div {
			width: 80ch;
		}
	}

	:global(*, ::before, ::after) {
		box-sizing: border-box;
	}
</style>